﻿body
{
    font: normal 12px verdana, ​arial, ​sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background: #DEDEDE;
}

a
{
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer !important;
}

a:hover
{
    color: #555;
    text-decoration: underline !important;
}

img
{
    border-width: 0px;
    margin: 0;
    padding: 0;
}

p
{
    margin: 2px 5px 8px 5px;
    padding: 0;
    color: #000;
}

p.center
{
    text-align: center;
}

h1
{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 3px 5px;
    padding: 0;
    color: #000;
}

h2
{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 3px 5px;
    padding: 0;
    color: #000;
}

form, fieldset, ul, li
{
    margin: 0;
    padding: 0;
}

fieldset 
{
    border:0;
    margin:0 5px;
}

input
{
    font: normal 12px verdana, ​​arial, ​sans-serif;
}

/* General Start */

div#wrapper
{
    width: 980px;
    margin: 10px auto;
}

div#mainImages
{
    float: left;
    display: block;
    position: relative;
    width: 500px;
    margin: 10px 5px;
}

div#mainImages img
{
    float: left;
    display: block;
    position: relative;
    border: 1px solid #C1C1C1;
}

ul#thumbs
{
    float: left;
    display: block;
    position: relative;
    width: 75px;
    margin: 10px 5px;
    list-style: none;
}

ul#thumbs img
{
    text-decoration:none;
}

ul#thumbs img
{
    cursor: pointer;
    border: 1px solid #C1C1C1;
    margin-right: 3px;
}

ul#thumbs img.current
{
    border: 1px solid #000;
}

div#spinSet
{
    float: left;
    display: block;
    position: relative;
    width: 500px;
    margin: 10px 5px;
}

div#spinContainer
{
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #C1C1C1;
}

div#spinInner
{
    height: 500px;
    display: block;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 solid green !important;
}

div#spinContainer div#spinInner img
{
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 solid green !important;
}

div#slider
{
    position: absolute;
    background: url('../images/360sliderBg.png') no-repeat scroll 0 0;
    height: 30px;
    left: 135px;
    top: 485px;
    overflow: visible;
    width: 245px;
    z-index: 1;
}
div#slider a
{
    position: absolute;
    background: url('../images/360slider.gif') no-repeat scroll 0 10px;
    cursor: move;
    height: 30px;
    margin-left: -15px;
    position: absolute;
    outline: none;
    top: -12px;
    width: 31px;
    z-index: 2;
    border: none;
}

div#videoSet
{
    float: left;
    display: block;
    position: relative;
    width: 500px;
    margin: 10px 5px;
}

div#videoSet div#vidContainer
{ 
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #C1C1C1;
}